@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sora {
  font-family: "Sora", sans-serif;
}

.category-links a.active {
  @apply text-white font-extrabold bg-purple-600
}
.myNav li a.active {
  @apply bg-gray-200 text-purple-600 border-gray-200 border-t-2 rounded-t-2xl
}

@layer base {
  html {
    font-family: "Sora", system-ui, sans-serif;
    background-color: #F6F6F6 !important
  }
}